/* MAIN RULES (mobile) */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #263238;
}

a,
ul,
ol {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 12px;
  color: #8f95a5;
  margin: 0;
  line-height: 1.5;
}

button {
  background-color: #263238;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0 14px;
}

section {
  padding-top: 60px;
}

/* HEADER SECTION (mobile) */

header {
  padding: 20px 0;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.menu-btn-header,
.site-nav-header {
  display: none;
}

.logo-span {
  color: #939393;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #263238;
  font-size: 24px;
  font-weight: 300;
}

.burger-menu-icon {
  fill: #39515e;
  width: 34px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN SECTION (mobile) */

.main-section {
  padding-top: 0;
}

.main-container {
  gap: 16px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.main-btn {
  width: 100%;
  max-width: 289px;
  height: 60px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}

/* SKILLS SECTION (mobile) */

.skills-cards-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-card-content,
.skills-card-content-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.speaking-card-hidden-p {
  display: none;
}

.skills-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #f5f5f5;
  padding: 8px 16px 40px 16px;
  gap: 12px;
}

.skills-card-content {
  gap: 20px;
}

.reading-img,
.listening-img {
  width: 230px;
  height: 230px;
  object-fit: contain;
}

.skills-card > img {
  height: 230px;
  object-fit: cover;
}

.skills-card-content-h-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.skills-card-btn {
  width: 178px;
  height: 50px;
  border-radius: 6px;
  font-size: 14px;
}

/* ABOUT US SECTION (mobile) */

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.about-us-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.about-us-img {
  width: 283px;
  height: 283px;
}

.quan-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;
  gap: 32px;
  padding: 0;
  margin-top: 28px;
}

.quan-list-elem {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  color: #263238;
}

.quan-list-span {
  font-weight: 300;
  font-size: 16px;
  color: #8f95a5;
}

/* PRICING SECTION (mobile) */

.pricing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 60px;
}

.pricing-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pricing-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 6px;
  width: 170px;
  height: 37px;
}

.pricing-tile-price {
  font-weight: 300;
  font-size: 18px;
  color: #263238;
}

.pricing-list-per {
  font-weight: 300;
  font-size: 14px;
  color: #546269;
}

/* CONTACT SECTION (mobile) */

.contact-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contact-us-sect {
  padding-bottom: 48px;
}

.contact-us-subscription-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscription-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.subscription-input {
  width: 292px;
  height: 60px;
  border: 1px solid #8f95a5;
  border-radius: 6px;
  font-weight: 300;
  font-size: 12px;
  color: #8f95a5;
  padding-left: 28px;
}

.subscription-btn {
  width: 292px;
  height: 60px;
  background: #263238;
  border-radius: 6px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px 0;
}

.footer-container {
  gap: 16px;
}

.hr {
  max-width: 100%;
  margin: 0 14px;
}

.footer-text {
  font-weight: 400;
  font-size: 10px;
  color: #8f95a5;
}

.footer-text-link {
  font-weight: 400;
  font-size: 10px;
  text-decoration: none;
  color: #8f95a5;
}

/* BURGER MENU */

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 0 14px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.site-nav-list {
  margin: 0;
  padding: 0;
  text-align: start;
  list-style: none;
  margin-top: 20px;
}

.site-nav-list-elem {
  font-weight: 400;
  font-size: 22px;
  line-height: 2.95455;
  color: #263238;
}

.menu-hr {
  margin: 0 auto;
  max-width: 100%;
  margin: 0;
}

.menu-btn {
  border: 2px solid #263238;
  border-radius: 5px;
  width: 100%;
  max-width: 330px;
  height: 65px;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  color: #263238;
  padding: 0;
  margin-top: 40px;
}

@media screen and (min-width: 575px) {
  /* MAIN RULES (tablet-s) */

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  section {
    padding-top: 80px;
  }

  .logo {
    font-size: 30px;
  }

  .container {
    padding: 0 32px;
  }

  /* HEADER SECTION (tablet-s) */

  .burger-menu-icon {
    width: 42px;
    height: 24px;
  }

  /* MAIN SECTION (tablet-s) */

  .main-img {
    width: 424px;
    height: 424px;
  }

  .main-btn {
    font-size: 18px;
  }

  .main-container {
    gap: 24px;
  }

  .main-content {
    gap: 26px;
  }

  /* BURGER MENU (tablet-s) */

  .menu {
    padding: 0 32px;
  }

  .menu-close-icon {
    width: 39px;
    height: 39px;
  }

  .menu-head {
    padding: 36px 0;
  }

  /* SKILLS SECTION (tablet-s) */

  .skills-container {
    gap: 20px;
  }

  .skills-cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 34px;
    column-gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .skills-card {
    height: 480px;
    width: 240px;
    padding: 26px 16px;
    justify-content: flex-start;
    gap: 10px;
  }

  .skills-card > img {
    width: 185px;
    height: 185px;
    object-fit: cover;
    object-position: center;
  }

  /* ABOUT US (tablet-s) */

  .about-us-img {
    width: 352px;
    height: 352px;
  }

  .about-us-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .quan-list {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  /* PRICING SECTION (tablet-s) */

  .pricing-card-img-1 {
    width: 291px;
    height: 291px;
  }

  .pricing-card-img-2 {
    width: 314px;
    height: 241px;
  }

  .pricing-card-img-3 {
    width: 291px;
    height: 291px;
  }

  /* CONTACT-US SECTION (tablet-s) */

  .contact-us-img {
    width: 358px;
    height: 322px;
  }

  .contact-us-subscription-content {
    width: 100%;
  }

  .subscription-div {
    flex-direction: row;
    width: 100%;
    gap: 0;
  }

  .subscription-input {
    flex: 2;
  }

  .subscription-btn {
    flex: 1;
  }

  /* FOOTER (tablet-s) */

  .footer-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .hr {
    margin: 0 32px;
  }

  .footer-text-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 767px) {
  /* MAIN RULES (tablet-m) */

  h1 {
    font-size: 36px;
    line-height: 1.25;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .container {
    padding: 0 40px;
  }

  /* HEADER SECTION (tablet-m) */

  .header {
    padding: 20px 0;
  }

  .burger-menu-icon {
    width: 30px;
    height: 17px;
  }

  /* MAIN SECTION (tablet-m) */

  .main-container {
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    gap: 26px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  .main-img {
    width: 352px;
    height: 352px;
  }

  /* SKILLS SECTION (tablet-m) */

  .skills-cards-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 235px;
    grid-gap: 8px;
  }

  .tile-1 {
    grid-row: span 2;
  }

  .tile-3 {
    gap: 70px;
  }

  .tile-4 {
    grid-column: span 2;
    flex-direction: row;
  }

  .tile-4 > img {
    object-fit: contain;
  }

  .skills-card {
    width: 100%;
    height: 100%;
    padding: 20px 14px;
  }

  .speaking-card-hidden-p {
    display: flex;
  }

  /* ABOUT US SECTION (tablet-m) */

  .about-us-content-div {
    flex-direction: row;
  }

  .quan-list {
    margin: 0;
    justify-content: space-between;
  }

  .about-us-content > p {
    text-align: start;
  }

  /* PRICING SECTION (tablet-m)*/

  .pricing-list {
    flex-direction: row;
  }

  .pricing-card-img-1,
  .pricing-card-img-3 {
    width: 180px;
    height: 180px;
  }

  .pricing-card-img-2 {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }

  .pricing-list {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .pricing-list-card {
    justify-content: space-between;
    align-items: center;
    height: 459px;
    width: 100%;
  }

  .pricing-list-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  /* CONTACT US SECTION (tablet-m) */

  .contact-us-subscription-content {
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-around;
  }

  .contact-us-subscription-content > p {
    text-align: start;
  }

  .contact-us-content {
    display: flex;
    flex-direction: row;
    gap: 34px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .contact-us-img {
    width: 210px;
    height: 210px;
  }

  .subscription-input {
    width: 283px;
  }

  .subscription-btn {
    width: 145px;
  }

  /* BURDER MENU (tablet-m) */

  .menu {
    width: 50%;
  }

  .menu-container {
    display: none;
  }

  .menu-container.is-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 999;
  }
}

@media screen and (min-width: 992px) {
  /* MAIN RULES (desktop-s) */

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font: 18px;
  }

  /* HEADER SECTION (desktop-s) */

  .burger-menu-icon {
    display: none;
  }

  .site-nav-header,
  .site-nav-header:focus {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 24px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .site-nav-header-elem > a {
    color: #263238;
  }

  .menu-btn-header {
    border: 2px solid #263238;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: #263238;
    display: flex;
    width: 160px;
    height: 50px;
    margin: 0;
    font-size: 16px;
  }

  /* MAIN SECTION (desktop-s) */

  .main-container {
    align-items: center;
  }

  /* CONTACT US SECTION (desktop-s) */

  .contact-us-img {
    width: 312px;
    height: 281px;
  }

  .contact-us-container {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1158px) {
  /* MAIN RULES (desktop) */

  h1 {
    line-height: 62px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .container {
    padding: 0 80px;
  }

  /* MAIN SECTION (desktop) */

  .main-img {
    width: 540px;
    height: 540px;
  }

  .main-btn {
    height: 80px;
    font-size: 22px;
  }

  /* SKILLS SECTION (desktop) */

  .skills-card > img {
    width: 200px;
    height: 200px;
  }

  .skills-card:first-child > img {
    width: 300px;
    height: 300px;
  }

  .skills-card-content-h-p {
    gap: 12px;
  }

  .skills-card-btn {
    font-size: 16px;
  }

  /* ABOUT US SECTION (desktop) */

  .about-us-img {
    width: 400px;
    height: 400px;
  }

  .quan-list-elem {
    font-size: 32px;
  }
}
